# database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# frontend
VITE_API_URL=

# backend
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
ENVIRONMENT=
RUST_LOG=
PORT=
SPA_URL=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
CONSUMER_EMAIL=
CONSUMER_PASSWORD=
REGISTRAR_EMAIL=
REGISTRAR_PASSWORD=
REDIS_URL=
MIGRATE=