volumes:
  db_data:
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - 5173:5173
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      - ./frontend/vite.config.ts:/app/vite.config.ts
      - ./frontend/components.json:/app/components.json
    command: bun run dev
  
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    ports:
      - 6006:6006
    command: go run main.go

  db:
    image: postgres:17.6-alpine3.22
    environment:
      POSTGRES_USER: tramits_user
      POSTGRES_PASSWORD: tramits_password
      POSTGRES_DB: tramits_db
    ports:
      - 5433:5432
    volumes:
      - db_data:/var/lib/postgresql/data
  
  cache:
    image: redis
    ports:
      - 6379:6379