volumes:
  db_data:
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    environment:
      - VITE_API_URL=http://localhost:3030
    ports:
      - 5173:5173
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      - ./frontend/vite.config.ts:/app/vite.config.ts
      - ./frontend/components.json:/app/components.json
      - ./frontend/index.html:/app/index.html
    command: bun run dev
  
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    environment:
      - DB_HOST=db
      - DB_USER=tramits_user
      - DB_PASSWORD=tramits_password
      - DB_NAME=tramits_db
      - DB_PORT=5432
      - ENVIRONMENT=dev
      - RUST_LOG=TRACE
      - PORT=3030
    ports:
      - 3030:3030
    volumes:
      - ./backend/src:/app/src
    command: cargo run

  db:
    image: postgres:17.6-alpine3.22
    environment:
      POSTGRES_USER: tramits_user
      POSTGRES_PASSWORD: tramits_password
      POSTGRES_DB: tramits_db
    ports:
      - 5433:5432
    volumes:
      - db_data:/var/lib/postgresql/data
  
  cache:
    image: redis:8.4.0-bookworm
    ports:
      - 6379:6379